In [10]:
import numpy as np, pandas as pd, seaborn as sns, matplotlib as plt
from sklearn.model_selection import train_test_split

In [11]:
from sklearn.model_selection import train_test_split

In [25]:
%%writefile myfunctions.py
def load_files(path,iterable,extension):
    df_dict={}
    funct=eval('pd.read_'+extension)
    for i in range(len(iterable)):
        df_dict[i]=funct(path+iterable[i]+'.'+extension)
    return df_dict

Writing myfunctions.py

In [12]:
sample=pd.read_csv('sample.csv')
sample.drop('Unnamed: 0',axis=1,inplace=True)

In [31]:
sample[sample.isna().sum(axis=1)>0]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
52,2021-02-15,Mesa Airlines Inc.,IAH,SAV,True,False,1630,NaN,NaN,NaN,...,NaN,NaN,NaN,1939,NaN,NaN,NaN,1900-1959,4,0.0
77,2022-04-04,Southwest Airlines Co.,LAS,HOU,True,False,1555,NaN,NaN,NaN,...,NaN,NaN,NaN,2050,NaN,NaN,NaN,2000-2059,5,0.0
82,2022-05-13,SkyWest Airlines Inc.,GFK,MSP,True,False,1310,NaN,NaN,NaN,...,NaN,NaN,NaN,1421,NaN,NaN,NaN,1400-1459,2,0.0
97,2022-01-17,JetBlue Airways,BNA,FLL,True,False,630,NaN,NaN,NaN,...,NaN,NaN,NaN,942,NaN,NaN,NaN,0900-0959,4,0.0
136,2022-02-04,Republic Airlines,EWR,RDU,True,False,1525,NaN,NaN,NaN,...,NaN,NaN,NaN,1719,NaN,NaN,NaN,1700-1759,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103733,2021-02-20,Envoy Air,DFW,GGG,True,False,1250,NaN,NaN,NaN,...,NaN,NaN,NaN,1354,NaN,NaN,NaN,1300-1359,1,0.0
103753,2022-01-16,American Airlines Inc.,DFW,RIC,False,True,1045,1045.0,0.0,0.0,...,1102.0,1753.0,6.0,1439,NaN,NaN,NaN,1400-1459,5,1.0
103810,2022-01-21,American Airlines Inc.,DFW,RDU,True,False,2039,2033.0,0.0,-6.0,...,2046.0,NaN,NaN,15,NaN,NaN,NaN,0001-0559,5,9.0
103813,2022-01-29,Delta Air Lines Inc.,BOS,SEA,True,False,720,NaN,NaN,NaN,...,NaN,NaN,NaN,1045,NaN,NaN,NaN,1000-1059,10,0.0
103861,2022-06-12,American Airlines Inc.,LAS,CLT,True,False,47,NaN,NaN,NaN,...,NaN,NaN,NaN,804,NaN,NaN,NaN,0800-0859,8,0.0